.WiteCont{
    max-width: 736px;
    width: 100%;
    height: 512px;
    background-color: #FFFFFF;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    
}

@media (max-width:600px) {
    .WiteCont{
        flex-direction: column;
        height: 100vh;
        width: 368px;
        border-radius: 0px;
    }
}