.btn{
    max-width: 288px;
    width: 100%;
height: 56px;
border-radius: 128px;
background: var(--Dark-Navy, #303B59);
color: var(--White, #FFF);
text-align: right;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Hanken Grotesk";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
display: flex;
justify-content: center;
align-items: center;
transition: ease-in-out, 0,7s;
}

.btn:hover{
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);

}