.heading_blu{
color: #CAC9FF;
font-family: Hanken Grotesk;
font-size: 24px;
font-weight: 700;
line-height: 31.27px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}


@media (max-width:600px) {
    .heading_blu{
        font-family: Hanken Grotesk;
font-size: 18px;
font-weight: 700;
line-height: 23.45px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    }
}