.heading_blu{
color: #CAC9FF;
font-family: Hanken Grotesk;
font-size: 24px;
font-weight: 700;
line-height: 31.27px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}